body {
	overflow-x: hidden;
}

.background-pink {
	background-color: #edb59a;
}
.background-image {
	position: absolute;
	/*opacity: .7*/
	max-width: 100%;
	padding: 0;
}

.font {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	}
.nav-container {
	text-align: right;
	/*transform: translate(-5%);*/
}
.heading-img {
	max-width: 10vw;
}

.heading {
	/*font-size: 20px;*/
	padding-left: 0;
	padding-top: 15px;
	/*transform: translate(-10%);*/
	color: white;
	font-size: 2vw;
}

.nav-text{
	color: white;
	font-size: 2vw;
	line-height: 4vw;
	padding-top: 1vw;
}

ul {
	list-style: none;
}

.open>.dropdown-menu {
	background-color: #edb59a;
	min-width: 100px;
}
.dropdown-menu>li>a {
	background-color: #edb59a;
	color: white;
	font-size: 1vw;
	}

/*LINK STUFF*/
	a:link {
		color: white;
	}
	a:visited {
		color: ;
	}
	a:hover {
		text-decoration: underline;
	}
	a:active {
		text-decoration: underline;
	}
/*LINK STUFF ENDS*/

/*ACCORDION STYLE*/
.background {
	background-color: transparent;
	border: none;
}
.panel-default>.panel-heading {
	background-color: transparent;
}
.drop-size {
	font-size: 1vw;
	margin-bottom: 0;
	font-style: italic;
}
.main-link {
	font-size: 1vw;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
}

.line-height {
	line-height: 1vw;
}
.table th, .table td { 
     border-top: none !important; 
 }
 .panel-body {
 	border-top: none !important;
 }
 .panel {
 	box-shadow: none;
 }
 .panel-body {
 	padding-top: 0;
 	padding-bottom: 0;
 }



.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content:"\2212";   /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\2b";    /* adjust as needed, taken from bootstrap.css */
}


